Repository friden-zhang/raspi-todo: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-check, typescript-check

cargo-fmt:
  name: Cargo format
  entry: bash -c 'cd server-rs && cargo fmt'
  language: system
  pass_filenames: false

cargo-check:
  name: Cargo check
  entry: bash -c 'cd server-rs && cargo check --quiet'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript type check
  entry: bash -c 'cd web && npm run type-check'
  language: system
  require_serial: true
  pass_filenames: false

Fix Docker deployment and database connectivity issues
  .dockerignore
  Dockerfile
  docker-compose.yml
  server-rs/Cargo.lock
  server-rs/Cargo.toml
  server-rs/src/main.rs
  server-rs/src/routes.rs
Due: cargo-fmt, cargo-check

✨ Major frontend UI/UX redesign and modernization
  web/index.html
  web/src/App.tsx
  web/src/pages/Admin.tsx
  web/src/pages/Display.tsx
Due: typescript-check

feat: Internationalize UI from Chinese to English and enhance UX
  web/index.html
  web/src/App.tsx
  web/src/pages/Admin.tsx
  web/src/pages/Display.tsx
Due: typescript-check

fix: Replace dynamic Lucide icons with static SVG components
  web/index.html
  web/src/App.tsx
  web/src/components/Icon.tsx
  web/src/pages/Admin.tsx
  web/src/pages/Display.tsx
Due: typescript-check

fix: Fix status filter not working due to WebSocket interference
  web/src/pages/Admin.tsx
Due: typescript-check

feat: Add favicon and app icons
  Dockerfile
  web/index.html
  web/public/favicon-data.txt
  web/public/favicon-emoji.svg
  web/public/favicon-simple.svg
  web/public/favicon.svg
Due: none

fix: Fix task edit save functionality and datetime format issue
  web/index.html
  web/package-lock.json
  web/package.json
  web/src/pages/Admin.tsx
  web/tsconfig.tsbuildinfo
Due: typescript-check

feat: implement unified task detail modal with inline editing
  web/index.html
  web/src/pages/Admin.tsx
  web/src/pages/Display.tsx
Due: typescript-check

Add drag and drop functionality to kanban board
  web/index.html
  web/src/pages/Display.tsx
Due: typescript-check

Add My Day page for in-progress tasks with priority grouping
  web/index.html
  web/src/App.tsx
  web/src/components/Icon.tsx
  web/src/main.tsx
  web/src/pages/MyDay.tsx
  web/tsconfig.tsbuildinfo
Due: typescript-check

Fix category collapse functionality in Categories page
  Dockerfile
  deploy/deploy.sh
  server-rs/src/db.rs
  server-rs/src/model.rs
  server-rs/src/routes.rs
  web/index.html
  web/src/App.tsx
  web/src/api.ts
  web/src/components/TodoDetailModal.tsx
  web/src/main.tsx
  web/src/pages/Admin.tsx
  web/src/pages/Categories.tsx
  web/src/pages/MyDay.tsx
  web/src/types.ts
  web/tsconfig.tsbuildinfo
Due: cargo-fmt, cargo-check, typescript-check

Improve priority display and fix missing icons in MyDay page
  web/src/components/Icon.tsx
  web/src/pages/Categories.tsx
  web/src/pages/MyDay.tsx
Due: typescript-check

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  typescript-check: any of: \.(ts|tsx)$
